<div class="flex flex-col w-full">

    <!-- Header -->
    <div class="relative w-full h-40 sm:h-36 px-8 sm:px-12">
         <!-- Close button -->
         <div class="flex items-center justify-between w-full max-w-3xl mx-auto pt-6 ">
            <div class="text-3xl font-extrabold tracking-tight leading-none">Créer un utilisateur</div>
            <a
                mat-icon-button
                [matTooltip]="'Close'"
                (click)="closeForm()">
                <mat-icon
                    [color]="'primary'"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
        
    </div>

    <!-- Contact -->
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">

            <div class="flex flex-col space-y-4">
                <!-- Form -->
                <form 
                    class="flex flex-col rounded overflow-hidden"
                    [formGroup]="createUserForm"
                    #createUserNgForm="ngForm">

                    <!-- Alert -->
                    <fuse-alert
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>

                    <!-- Email field -->
                    <div class="flex flex-col mt-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>Adresse email</mat-label>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'"
                                placeholder="Ex: abc@bridge.com" >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('email').errors?.required">
                                L'adresse Email est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('email').errors?.email">
                                Entrez une adresse email valide svp
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Nom field -->
                    <div class="flex flex-col" >
                        <mat-form-field class="flex-auto">
                            <mat-label>Nom</mat-label>
                            <input
                                id="nom"
                                matInput
                                [formControlName]="'nom'"
                                placeholder="Ex: ZIBIKOU" 
                                minlength = "2" maxlength = "50">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('nom').errors?.required">
                                Le nom est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('nom').errors?.minlength">
                                    Le nom doit être au moins deux caractères
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('nom').errors?.maxlength">
                                    Le nom doit être au plus 50 caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Prenoms field -->
                    <div class="flex flex-col" >
                        <mat-form-field class="flex-auto">
                            <mat-label>Prénom(s)</mat-label>
                            <input
                                id="prenom"
                                matInput
                                [formControlName]="'prenom'"
                                placeholder="Ex:  Bi Francis" 
                                minlength = "2" maxlength = "150">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('prenom').errors?.required">
                                Le prénom est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('prenom').errors?.minlength">
                                    Le prénom doit être au moins deux caractères
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('prenom').errors?.maxlength">
                                    Le prénom doit être au plus 150 caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- site field -->
                    <div class="flex flex-col" >
                        <mat-form-field class="flex-auto">
                            <mat-label>Numero Telephone</mat-label>
                            <input
                                id="numeroTel"
                                matInput
                                [formControlName]="'numeroTel'"
                                [placeholder]="'Ex:  0700000000'"
                                minlength = "10" maxlength = "10">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'mat_solid:home_work'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('numeroTel').errors?.required">
                                Le numero de telephone est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('numeroTel').errors?.minlength">
                                    Le numero de telephone doit être au moins dix caractères
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('numeroTel').errors?.maxlength">
                                    Le numero de telephone doit être au plus treize caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                     <!-- email field -->
                     <!-- <div class="flex flex-col" >
                        <mat-form-field class="flex-auto">
                            <mat-label>Email</mat-label>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'Ex:  leo.koua@neo.com'"
                                minlength = "2" maxlength = "50">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'mat_solid:work_outline'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('email').errors?.required">
                                La fonction est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('email').hasError('required')">
                                Adresse e-mail est requis
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('email').hasError('email')">
                                S'il vous plaît, mettez une adresse email valide
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                    <!-- fonction field -->
                    <div class="flex flex-col" >
                        <mat-form-field class="flex-auto">
                            <mat-label>Fonction</mat-label>
                            <input
                                id="fonction"
                                matInput
                                [formControlName]="'fonction'"
                                [placeholder]="'Ex:  DSI'"
                                minlength = "2" maxlength = "30">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'mat_solid:workspaces'"></mat-icon>
                            <mat-error *ngIf="createUserForm.get('fonction').errors?.required">
                                La structure est obligatoire
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('fonction').errors?.minlength">
                                    La structure doit être au moins deux caractères
                            </mat-error>
                            <mat-error *ngIf="createUserForm.get('fonction').errors?.maxlength">
                                    La structure doit être au plus 100 caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                    

                   



                      
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            
                            <mat-select [placeholder]="'Entreprise'" [formControlName]="'identreprise'">
                                <mat-option value="1000">Bridge BANK 1</mat-option>
                                <mat-option value="1001">SODECI 2</mat-option>
                                <mat-option value="1002">MTN 3</mat-option>
                            </mat-select>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:translate'"></mat-icon>
                        </mat-form-field>

                        
                  

                    <!-- Actions -->
                    <div class="flex items-center justify-end border-t -mx-8 mt-4 px-8 py-2">
                        <button mat-button (click)="annuler()">
                            Annuler
                        </button>
                        <button
                            class="px-6 ml-3"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="createUserForm.disabled || createUserForm.invalid"
                            (click)="creer()">
                            <span *ngIf="!createUserForm.disabled">
                                Enregistrer
                            </span>
                            <mat-progress-spinner
                                *ngIf="createUserForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>


                </form>

            </div>
            
        </div>
    </div>

</div>
