<div class="flex flex-col w-full">
    <div class="relative flex flex-col flex-auto items-center">
        <div class="w-full max-w-3xl">
            <div class=" flex flex-col space-y-4">
                <!-- Header -->
                <div class="pl-6 relative w-full h-40 sm:h-26">
                    <!-- Close button -->
                    <div class="flex items-center justify-between w-full max-w-3xl mx-auto pt-6 ">
                        <div class="text-3xl font-extrabold tracking-tight leading-none">MODIFICATION - {{formTitle}}</div>
                        <a mat-icon-button [matTooltip]="'Close'" (click)="closeForm()">
                            <mat-icon [color]="'primary'" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </a>
                    </div>
                </div>
                <!-- alert Fields  class="mt-8 -mb-4"-->
                <div class="pl-6  pr-6 pt-0 py-0 sm:p-12 sm:pt-0" *ngIf="showAlert">
                    <fuse-alert  [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                    [dismissible]="true"
                    [dismissed]="false"
                    [showIcon]="true"
                        [@shake]="alert.type === 'error'">
                        {{ alert.message }}
                    </fuse-alert>
                </div>
                <div *ngFor="let item of staticDatas">
                    <p><strong>Libelle:</strong> {{ item.libelle }}</p>
                    <p><strong>Value:</strong> {{ item.value }}</p>
                </div>
                <form class="flex flex-col rounded overflow-hidden" #formNgForm="ngForm" [formGroup]="form"
                    (ngSubmit)="onSubmit()">
                    <div class="pl-6 pr-6 pt-2 py-1 sm:p-12 sm:pt-0">
                        <ng-container *ngFor="let fieldConfig of formFields">
                            <mat-form-field [ngClass]="_fieldClass" *ngIf=" fieldConfig.type === 'textarea'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <textarea id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key"></textarea>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>
                            </mat-form-field>
                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig?.type === 'number'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="number" id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig?.type === 'date'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="date" id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig?.type === 'select'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <mat-select [formControlName]="fieldConfig.key">
                                    <mat-option *ngFor="let option of fieldConfig.options" [value]="option.value">{{
                                        option.libelle }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-radio-group *ngIf="fieldConfig?.type === 'radio'" [formControlName]="fieldConfig.key">
                                <mat-radio-button *ngFor="let option of fieldConfig.options" [value]="option">
                                    {{ option }}
                                </mat-radio-button>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-radio-group>

                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig.type === undefined">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="text" id="{{ fieldConfig.key }}"
                                    placeholder="{{ fieldConfig?.placeholder }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>
                        </ng-container>
                    </div>
                    <!-- Actions -->


                    <div class="pl-7 pr-7">

                        <div class="flex items-center mt-5 -mx-10 sm:-mx-12 py-2 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                            
                            <ng-container *ngIf="this.canDelete">
                                <button mat-button [color]="'warn'" type="button" [matTooltip]="'Delete'" (click)="supprimer()">
                                    Supprimer
                                </button>
                            </ng-container>

                            <!-- Cancel -->
                            <button class="ml-auto mr-1"  
                            mat-flat-button
                            [color]="'accent'" [matTooltip]="'Cancel'" type="button" (click)="annuler()" >
                                Annuler
                            </button>
                            <!-- Save -->
                            <button mat-raised-button  [disabled]="form.invalid" color="primary"
                                type="submit">Enregistrer
                                <mat-progress-spinner *ngIf="form.invalid" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>