
<div class="absolute inset-0 flex flex-row min-w-0">
    <!-- Sidenav -->
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <mat-drawer class="w-full md:w-100 dark:bg-gray-120" [mode]="drawerMode" [opened]="false"  #matDrawer>
            <div class="flex flex-col items-start p-8 border-b">
                <div class="flex items-center mb-4 font-semibold tracking-tight leading-7 md:leading-snug truncate text-secondary dark:text-white"> Historique Validation</div>
            </div>
            <app-historique [historiques]="historiques" [validationUsers]="validators" [stepsIsNumeroted]="false" [totalSteps]= "totalStepsSalaire"></app-historique >



        </mat-drawer>

        <!-- Contenu principal -->
        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex flex-col flex-auto min-w-0">
                <!-- Contenu principal -->
                <div class="flex flex-col flex-auto min-w-0">
                    <!-- Fuse alert -->
                    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [dismissible]="true" [dismissed]="false" [showIcon]="true" [@shake]="alert.type === 'error'">
                        {{ alert.message }}
                    </fuse-alert>

                    <!-- Header -->
                    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b bg-white dark:bg-gray-900">
                        <!-- Loader -->
                        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                        </div>
                        <!-- Title -->
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex flex-col min-w-0 ml-4">
                                <ng-container>
                                    <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                        Détails Salaires</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex items-center sm:mt-0 sm:ml-4">
                            <form>
                                <button class="ml-4" type="'button'" (click)="goBackToList()" mat-stroked-button [color]="'accent'">
                                    <mat-icon [svgIcon]="'mat_solid:arrow_back'"></mat-icon>
                                    <span class="ml-2">Retour</span>
                                </button>
                                <!-- Autres boutons ici -->
                                <ng-container *ngIf="salaireData?.statut==1">
                                <button class="ml-4 sm:mt-2"   mat-flat-button [color]="'primary'" (click)="validerSalaire()"
                                [disabled]="montantTotal==0">
                                <mat-icon [svgIcon]="'mat_solid:done'"></mat-icon>
                                <span class="ml-2 ">Valider</span>
                            </button>
                        </ng-container>
                            </form>
                        </div>
                    </div>
                    <form class="flex flex-col flex-auto overflow-auto">
                        <!-- Main -->
                        <div class="flex flex-auto">
                            <!-- remiseCheques list -->
                            <div class="flex flex-col flex-auto sm:mb-18">
                                <div class="flex space-x-4 items-center relative back  py-4 px-6 md:px-8 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                                    <ng-container>
                                        <button mat-icon-button
                                        (click)="matDrawer.toggle()"
                                        [disableRipple]="true"
                                        matTooltip= "{{ matDrawer.opened ? 'Fermer Historique' : 'Afficher Historique' }}">
                                    <mat-icon>{{ matDrawer.opened ? 'close' : 'menu' }}</mat-icon>
                                </button>
                                
                                        
                                    </ng-container>
                                    <ng-container>
                                        <span class="inline-block align-middle">
                                            Fichier Salaire : {{ salaireData?.nomFichier }}
                                        </span>
                                    </ng-container>
                                    <!-- Autres éléments ici -->
                                </div>
                                <!-- Contenu -->
                                <!-- TABLEAU DES CHEQUES-->
                                <app-table-data 
                                    [endpoint]="'salaire'+id" 
                                    [title]="'Liste des Salaire'"
                                    [dataKey]="'data'"
                                    [serverSideLoad]="false"
                                    [displayedColumns]="displayedColumns" 
                                    [dataStructure]="dataStructure" 
                                    [idRow]="'id'"
                                    [canClick]="false">
                                </app-table-data>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
```
