<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->


    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">


  

                    <div class="text-4xl font-extrabold tracking-tight leading-none">
                      Tableau de bord
                    </div>
                <div class="flex items-center">
                    <form #formNgForm="ngForm" class="flex flex-auto items-center" [formGroup]="form" (ngSubmit)="rechercheStatisque()">

                    
                        

                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-60 mr-2 mt-4" >
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate placeholder="Date de début" formControlName="dateDebut">
                              <input matEndDate placeholder="Date de fin" formControlName="dateFin">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-64 mt-4">
                            <mat-select formControlName="idEntreprise" matInput id="idEntreprise" required select
                                placeholder="Entreprise">
                                <mat-option *ngFor="let  entreprise of listeEntreprise"
                                    [value]="entreprise.identreprise">
                                    {{entreprise.nomEntreprise }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="ml-4" mat-flat-button [color]="'primary'" type="submit"
                            [disabled]="form.invalid">
                            <mat-icon [svgIcon]="'mat_solid:search'"></mat-icon>
                            <span>Rechercher</span>
                        </button>
                    </form>
                </div>
            </div>
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2 mt-2" [animationDuration]="'0'">

                <!-- Home -->
                <mat-tab label="Remise Chèques">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Summary -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Chèques Exportés
                                    </div>

                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                                        {{ dashboardData.chequeEmis?.nombreTotal || 0 }}</div>
                                    <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Montant : {{
                                        dashboardData.chequeEmis?.montantTotal || 0 | currency:'CFA':'symbol':'1.0-2'}}</div>
                                   
                                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                                <div class="text-md font-medium truncate">Taux Total : </div>
                                                <div class="ml-1.5 text-lg font-semibold">{{dashboardData?.tauxEncaisse+dashboardData?.tauxEncTrait+dashboardData?.tauxImpaye|| 0 }}  %</div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- Overdue -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Chèques Encaissés
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">
                                        {{ dashboardData?.chequeEncaisse?.nombreTotal || 0 }}</div>
                                    <div class="text-lg font-medium text-green-600 dark:text-green-500">Montant {{
                                        dashboardData?.chequeEncaisse?.montantTotal || 0 | currency:'CFA':'symbol':'1.0-2' }}</div>
                                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                                <div class="text-md font-medium truncate">Taux : </div>
                                                <div class="ml-1.5 text-lg font-semibold">{{dashboardData?.tauxEncaisse || 0 }} % </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- Issues -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Chèques En Cours
                                    </div>

                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                                        {{ dashboardData?.chequeEncTrait?.nombreTotal || 0}}</div>
                                    <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Montant : {{
                                        dashboardData?.chequeEncTrait?.montantTotal || 0 | currency:'CFA':'symbol':'1.0-2' }}</div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                            <div class="text-md font-medium truncate">Taux : </div>
                                            <div class="ml-1.5 text-lg font-semibold">{{dashboardData?.tauxEncTrait || 0 }} %</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Features -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Chèques Rejétés
                                    </div>

                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                                        {{ dashboardData.chequeImpaye?.nombreTotal || 0 }}</div>
                                    <div class="text-lg font-medium  text-red-600 dark:text-red-500">Montant : {{
                                        dashboardData.chequeImpaye?.nombreTotal || 0 | currency:'CFA':'symbol':'1.0-2' }}</div>
                                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                                <div class="text-md font-medium truncate">Taux : </div>
                                                <div class="ml-1.5 text-lg font-semibold">{{dashboardData?.tauxImpaye || 0 }} % </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>