<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
    [dismissible]="true"
    [dismissed]="false"
    [showIcon]="true"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}
    </fuse-alert>

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 " [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <!-- <router-outlet (activate)="openDetailComponent($event)"></router-outlet> -->
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Header -->

            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Title -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Transaction Bancaire
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="flex items-center">
                    <form class="flex items-center sm:mt-0 sm:ml-4" [formGroup]="form" (ngSubmit)="onSubmit()">
                        
                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-60 mr-2 mt-4" >
                            <mat-date-range-input [max]="maxDate"  [rangePicker]="picker">
                              <input (dateInput)="addEvent('dateDebutInput', $event)" (dateChange)="addEvent('dateDebutChange', $event)" matStartDate placeholder="Date de début" [max]="maxDate"  formControlName="dateDebut">
                              <input (dateInput)="addEvent('dateDebutFinInput', $event)" (dateChange)="addEvent('dateDebutFinChange', $event)" matEndDate placeholder="Date de fin" minDate [max]="maxDate" formControlName="dateFin">
                            
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>

                        </mat-form-field>
                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-64 mt-4">
                            <mat-select formControlName="compte" matInput id="compte" required>
                                <!-- <mat-option *ngFor="let  compteEntreprise of listeCompteEntreprise" [value]="compteEntreprise.compte"> 
                                    {{compteEntreprise?.designation }} - {{ compteEntreprise?.compte?.slice(-4)}}
                                </mat-option> -->
                                <ng-container *ngIf="listeCompteEntreprise && listeCompteEntreprise.length > 0">
                                    <mat-option *ngFor="let compteEntreprise of listeCompteEntreprise" [value]="compteEntreprise.compte"> 
                                        {{compteEntreprise?.designation}} - {{compteEntreprise?.compte?.slice(-4)}}
                                    </mat-option>
                                </ng-container>
                                <ng-container *ngIf="!listeCompteEntreprise || listeCompteEntreprise?.length === 0">
                                    <mat-option [value]="0">
                                        compteEntreprise?.designation
                                    </mat-option>
                                </ng-container>
                                
                            </mat-select> 
                        </mat-form-field>
                        <button class="ml-4" mat-flat-button [color]="'primary'" type="submit"
                            [disabled]="form.invalid || form.controls?.compte?.value == '0' || form.controls?.dateFin?.value>maxDate || form.controls?.dateDebut?.value>maxDate ">
                            <mat-icon [svgIcon]="'mat_solid:search'"></mat-icon>
                            <span>Rechercher</span>
                        </button>
                    </form>
                </div>
            </div>
            <form class="flex flex-col ">
                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- remiseCheques list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <div class="flex space-x-4 items-center relative back  py-4 px-6 md:px-8 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >
                            <ng-container>
                                <span class="inline-block align-middle">
                                    Solde sur la période : {{ solde | currency:'CFA':'symbol':'1.0-2' }}
                                </span>
                            </ng-container>
                        </div>
                        <!-- TABLEAU -->
                        <app-table-data 
                            [endpoint]="'detailsCompteAfb120'" 
                            [filterObject]="_filterObject"
                            [displayedColumns]="displayedColumns" 
                            [dataStructure]="dataStructure" 
                            [idRow]="'id'"
                            [canClick]="true">
                        </app-table-data>
                    </div>
                </div>
            </form>
        </mat-drawer-content>
    </mat-drawer-container>
</div>