<div class="timeline dark bg-card shadow rounded-2xl overflow-x-auto overflow-y-auto">
    <div *ngFor='let element of _historiques;let i = index'>
        <div class="container" [ngClass]="{ left: i%2!==0, right:i%2==0}">
            <div class="content flex flex-col">
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">Date: </div>
                        </div>
                    </div>
                    <div class="mb-2 text-sm text-secondary">
                        {{element.actionDate}}
                    </div>
                </div>
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">Auteur: </div>
                        </div>
                    </div>
                    <div class="mb-2 text-sm text-secondary">
                        {{element.actionAuteur}}
                    </div>
                </div>
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">Action: </div>
                        </div>
                    </div>
                    <div class="mb-2 text-sm text-secondary">
                        {{element.actionType}}
                    </div>
                </div>
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">État initial: </div>
                        </div>
                    </div>
                    <div class="mb-2 text-sm text-secondary">
                        {{element.etatInitial}}
                    </div>
                </div>
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">État final: </div>
                        </div>
                    </div>
                    <div class="mb-2 text-sm text-secondary">
                        {{element.etatFinal}}
                    </div>
                </div>
                <div>
                    <div class="text-md font-extrabold tracking-tight leading-tight">
                        <div class="flex sm:items-center">
                            <div class="leading-6 text-black">Commentaires: </div>
                        </div>
                    </div>
                    <div class="mt-0.5 mb-2 line-clamp-5 text-secondary max-h-50">{{element.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>