<div class="flex flex-col w-full">
    <div class="relative flex flex-col flex-auto items-center">
        <div class="w-full max-w-3xl">
            <div class=" flex flex-col space-y-4">
                <!-- Header -->



                <div class="pl-6 relative w-full h-40 sm:h-26 ">
                    <!-- Close button -->
                    <div class="flex items-center justify-between w-full max-w-3xl mx-auto pt-6 ">
                        <div class="text-3xl font-extrabold tracking-tight leading-none">{{formTitle}}
                        </div>
                        <a mat-icon-button [matTooltip]="'Close'" (click)="closeForm()">
                            <mat-icon [color]="'primary'" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </a>
                    </div>

                </div>
                <ng-container *ngIf="showAlert">
                    <div class="pl-6  pr-0 pt-0 py-0 sm:p-12 sm:pt-0">
                        <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                        [dismissible]="true"
                        [dismissed]="false"
                        [showIcon]="true"
                            [@shake]="alert.type === 'error'">
                            {{ alert.message }}
                    
                            

                        
                        </fuse-alert>
                    </div>
                </ng-container>


                <!-- Form Fields -->
                <form class="flex flex-col rounded overflow-hidden" #formNgForm="ngForm" [formGroup]="form"
                    (ngSubmit)="updateCheque() ">
                    <div class="pl-6 pr-6 pt- py-2 sm:p-12 sm:pt-0">
                        <ng-container *ngFor="let fieldConfig of formFields">

                            <!-- <mat-form-field [ngClass]="_fieldClass">
                    <mat-label>{{ fieldConfig.libelle }}</mat-label>
                    <input id="{{ fieldConfig.key }}" matInput [formControlName]="fieldConfig.key"/>



                </mat-form-field> -->



                            <mat-form-field [ngClass]="_fieldClass" *ngIf=" fieldConfig.type === 'textarea'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <textarea id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key"></textarea>

                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-form-field class="w-1/3 pr-2" *ngIf="fieldConfig?.type === 'number'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="number" id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minValue')">Montant Minimum
                                    invalide</mat-error>

                            </mat-form-field>

                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig?.type === 'date'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="date" id="{{ fieldConfig.key }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-form-field [ngClass]="_fieldClass" *ngIf="fieldConfig?.type === 'select'">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <mat-select [formControlName]="fieldConfig.key">
                                    <mat-option *ngFor="let option of fieldConfig.options" [value]="option.value">{{
                                        option.libelle }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-form-field>

                            <mat-radio-group *ngIf="fieldConfig?.type === 'radio'" [formControlName]="fieldConfig.key">
                                <mat-radio-button *ngFor="let option of fieldConfig.options" [value]="option">
                                    {{ option }}
                                </mat-radio-button>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>

                            </mat-radio-group>

                            <mat-form-field class="relative w-1/4 pr-1" *ngIf="fieldConfig.type === undefined">
                                <mat-label>{{ fieldConfig.libelle }}</mat-label>
                                <input type="text" id="{{ fieldConfig.key }}"
                                    placeholder="{{ fieldConfig?.placeholder }}" matInput
                                    [formControlName]="fieldConfig.key" />
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('required')">Ce champ est
                                    obligatoire</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minlength')">La longueur minimun
                                    "{{ fieldConfig.validators.min }}"</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('maxlength')">Longueur maximum "{{
                                    fieldConfig.validators.max }}".</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('email')">Email
                                    invalide</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('regex')">Format
                                    incorrect</mat-error>
                                <mat-error *ngIf="form.get(fieldConfig.key)?.hasError('minValue')">Montant Minimum
                                    invalide</mat-error>

                            </mat-form-field>




                        </ng-container>

                        <!-- Image Recto  -->

                        <div class="relative w-full h-full sm:h-48 px-8 sm:px-12 bg-accent-100 mt-10 dark:bg-accent-700">

                            <ng-container *ngIf="chequeData?.imageRecto">
                                <img class=" inset-0 object-cover w-full h-full" alt="Image Recto"
                                    [src]="'data:image/JPG;base64,'+chequeData?.imageRecto">
                            </ng-container>
                           
                        </div>
                        <!-- Image Verso -->
                        <div class="relative w-full h-full sm:h-48 px-8 sm:px-12 bg-accent-100 mt-10 dark:bg-accent-700">

                            <ng-container *ngIf="chequeData?.imageVerso">
                                <img class=" inset-0 object-cover w-full h-full" alt="Image Verso"
                                    [src]="'data:image/JPG;base64,'+chequeData?.imageVerso">
                            </ng-container>
                            
                        </div>
                    </div>
                    <!-- Actions -->


                    <div class="pl-6 pr-6">

                        <div
                            class="flex items-center mt-10 -mx-10 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                            <!-- Delete  (click)="deleteContact()"  (click)="toggleEditMode(false)"  (click)="updateContact()"-->
                            <button mat-button [color]="'warn'" type="button" [matTooltip]="'Delete'"
                                (click)="supprimer()">
                                Supprimer
                            </button>
                            <!-- Cancel -->
                            <button class="ml-auto mr-1" mat-flat-button [color]="'accent'" [matTooltip]="'Cancel'"
                                type="button" (click)="annuler()">
                                Annuler
                            </button>
                            <!-- Save -->
                            <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">Modifier
                                <mat-progress-spinner *ngIf="form.invalid" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>