<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-full">
                <div class="w-22 ml-auto mr-auto">
                    <img src="assets/images/logo/logo128.png" alt="" class="flex justify-center items-center">

                </div>
                
            </div>

            <!-- Title -->
            
            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
            *ngIf="loginStatus == 'login'"
            class="mt-8"
            [formGroup]="signInForm"
            #signInNgForm="ngForm">

            <!-- Email field -->
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input
                    id="username"
                    matInput
                    [formControlName]="'username'">
                <mat-error *ngIf="signInForm.get('username').hasError('required')">
                  Veuillez renseigner une adresse email valide
                </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full">
                <mat-label>Mot de passe</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    [formControlName]="'password'"
                    #passwordField>
                <button
                    mat-icon-button
                    type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error>
                    Veuillez renseigner un mot de passe valide
                </mat-error>
            </mat-form-field>

            <!-- Actions -->
            <div class="inline-flex items-end justify-between w-full mt-1.5">
                <a
                    class="text-md font-medium text-primary-500 hover:underline"
                    [routerLink]="['/forgot-password']">Mot de passe oublié?
                </a>
            </div>

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="signInForm.disabled"
                (click)="signIn()">
                <span *ngIf="!signInForm.disabled">
                    Connexion
                </span>
                <mat-progress-spinner
                    *ngIf="signInForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>


            </form>

            <!-- Enter MFA code form verify-mfa-->
            <form
                *ngIf="loginStatus == 'verify-mfa'"
                class="mt-8"
                [formGroup]="login2FACodeForm">

                <!-- Code field -->
                <mat-form-field class="w-full">
                    <mat-label>Entrez un code OTP </mat-label>
                    <input
                        id="code"
                        type="text"
                        matInput
                        [formControlName]="'code'"
                        #codeField>
                    <mat-error *ngIf="login2FACodeForm.controls['code'].hasError('required')">
                    Le code est obligatoire
                    </mat-error>
                    <mat-error *ngIf="login2FACodeForm.controls['code'].hasError('pattern')">
                        Le code est invalide
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-end w-full mt-1.5">
                    <a class="text-md font-medium text-primary-500 hover:underline"  (click)="reload()"   [routerLink]="['/signi-in']">Recommencer
                    </a>
                </div>


                <!-- Send Code button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="login2FACodeForm.disabled"
                    (click)="verifyCode()">
                    <span *ngIf="!login2FACodeForm.disabled">
                        ENVOYER
                    </span>
                    <mat-progress-spinner
                        *ngIf="login2FACodeForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>            



            <!-- PASSWORD DEFINITION new-password-->
            <form
                *ngIf="loginStatus == 'new-password'"
                class="mt-8"
                [formGroup]="passwordModifForm">

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Nouveau Mot de passe</mat-label>
                    <input
                        data-testid="input-newPassword"
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="passwordModifForm.controls['password'].hasError('required')">
                        Mot de passe obligatoire
                    </mat-error>
                    <mat-error *ngIf="passwordModifForm.controls['password'].hasError('pattern')">
                        Format du mot de passe invalide: il doit être de 8 caractères minimum et doit contenir au moins un chiffre, un caractère spécial, une lettre majuscule et une lettre minuscule
                    </mat-error>
                </mat-form-field>

                <!-- Password Confirm field -->
                <mat-form-field class="w-full">
                    <mat-label>Confirmer le Mot de passe</mat-label>
                    <input
                        data-testid="input-passwordConfirm"
                        id="passwordConfirm"
                        matInput
                        type="password"
                        [formControlName]="'confirmPassword'"
                        #passwordConfirmField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Les deux mots de passe sont différents
                    </mat-error>
                </mat-form-field>


                <!-- Submit button -->
                <button
                    data-testid="btn-changePassword"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="passwordModifForm.disabled"
                    (click)="changePassword()">
                    <span *ngIf="!passwordModifForm.disabled">
                        VALIDER
                    </span>
                    <mat-progress-spinner
                        *ngIf="passwordModifForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>  


        </div>
    </div>
    <div style="background-image: url('assets/images/back.jpg')" class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">

        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bienvenue</div>
                <div>sur BRIDGECOLLECT</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                L'application intelligente pour l'exportation de chèques scannés vers votre banque et le prélèvement automatique!
                Gagnez du temps et simplifiez vos opérations bancaires grâce à BRIDGECOLLECT. 
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/medlog.jpg" alt="">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/cie.jpg" alt="">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/paa.jpg" alt="">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/quipux.jpg" alt="">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">Plus de 200 Entreprises nous ont rejoint, c'est à vous de le faire</div>
            </div>
        </div>
    </div>
</div>


