<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [dismissible]="true"
        [dismissed]="false" [showIcon]="true" [@shake]="alert.type === 'error'">
        {{ alert.message }}
    </fuse-alert>
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <mat-drawer-content class="flex flex-col">
            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Title -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Charger salaire</div>
                        </ng-container>
                    </div>
                </div>
                <div class="flex items-center ">
                    <form class="flex flex-auto items-center" [formGroup]="salaireForm" (ngSubmit)="onSubmit()">
                        <mat-form-field 
                            class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-64 mt-4">
                            <input matInput formControlName="fichierSalaire"  style="color: #888; " readonly />
                            <mat-icon *ngIf="this.salaireForm.get('fichierSalaire').value==label" matSuffix
                                (click)="fileInput.click()">folder</mat-icon>
                            <mat-icon matSuffix (click)="clearFile()"
                                *ngIf="this.salaireForm.get('fichierSalaire').value!=label && this.salaireForm.get('fichierSalaire').value!=null && this.salaireForm.get('fichierSalaire').value!=undefined">clear</mat-icon>
                            <input type="file" #fileInput (change)="onFileSelected($event)" accept=".rec,.txt,.prn"
                                style="display: none" />
                        </mat-form-field>
                        <button class="ml-4 " mat-flat-button [color]="'primary'" type="submit"
                            [disabled]="(!salaireForm.valid) || totalRows==0 || this.hasError">
                            <mat-icon [svgIcon]="'mat_solid:save'"></mat-icon>
                            <span>Enregistrer</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="flex flex-col">
                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- remiseCheques list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <div
                            class="flex space-x-4 items-center relative back  py-4 px-6 md:px-8 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">

                            <ng-container>
                                <span class="inline-block align-middle">
                                    Nom Entreprise : {{ headerData?.nom ?? "-" }}
                                </span>
                            </ng-container>
                            <ng-container>
                                <span class="inline-block align-middle">
                                    Nombre de bénéficiaire(s) : {{ (totalRows ? totalRows:0) }}
                                </span>
                            </ng-container>
                            <ng-container>
                                <span class="inline-block align-middle">
                                    Montant total  : {{ (totalData?.montant ? totalData?.montant:0) |
                                    currency:'CFA':'symbol':'1.0-2' }}
                                </span>
                            </ng-container>
                        </div>
                        <!--table data-->
                        <app-table-data 
                            [serverSideLoad]="false" 
                            [dataKey]="'$'" 
                            [displayedColumns]="displayedColumns"
                            [dataStructure]="dataStructure">
                        </app-table-data>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>