<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet (activate)="openDetailComponent($event)"></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Liste des clients</div>
                    </div>
                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    id="filter_table"
                                    matInput
                                    (keyup)="applyFilter($event)"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Rechercher des clients'">
                            </mat-form-field>
                        </div>
                        <!-- Add utilisateur button -->
                        <!-- <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./creation']">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Créer un client</span>
                        </button> -->
                    </div>
                </div>
                <div class="relative">
                    
                    <app-table-data [endpoint]="'clients'" 
                    [title]="'Liste Clients'"
                    [displayedColumns]="_displayedColumns" 
                    [dataStructure]="dataStructure" 
                    [idRow]="'id'"
                    [filterObject]="_filterObject"
                    [canClick]="true">
                    </app-table-data>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
