<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
    [dismissible]="true"
    [dismissed]="false"
    [showIcon]="true"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}

        
    </fuse-alert>
    <!-- <router-outlet></router-outlet> -->


    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 " [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <!-- <router-outlet (activate)="openDetailComponent($event)"></router-outlet> -->
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Header -->

            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                
                <div class="flex flex-auto items-center min-w-0">
                    
        
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Validation remise</div>
                        </ng-container>
              
                    </div>
                </div>
                <div class="flex items-center sm:mt-0 sm:ml-4">
                    <form [formGroup]="compteClientForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-64 mb-8" appearance="outline">
                         
                            <mat-select formControlName="statut" matInput id="statut" required
                                placeholder="Selectionner un statut" (selectionChange)="onSelectChange($event)">
                                <mat-option value="1">A Valider</mat-option>
                                <mat-option value="3">A Exporter</mat-option>
                            </mat-select> 
                        </mat-form-field>
                        
                        <button class="ml-4" mat-flat-button [color]="'primary'" type="submit"
                        [disabled]="(!compteClientForm.valid )|| compteClientForm.get('statut').value === '1' || dataSource.data.length === 0">
                          
                        
                        
                        <mat-icon [svgIcon]="'mat_solid:save'"></mat-icon>
                            <span class="ml-2">Exporter</span>
                        </button>
                    </form>
                </div>
            </div>
            <form class="flex flex-col ">

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- remiseCheques list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <div class="flex space-x-4">
                            <ng-container>
                                <span class="inline-block align-middle">

                                    <!-- Nombre de chèque : {{ nombreCheque }} -->
                                </span>
                            </ng-container>
                            <ng-container>
                                <span class="inline-block align-middle">

                                    Montant total : {{ montantTotal | currency:'CFA':'symbol':'1.0-2' }}

                                </span>
                            </ng-container>
                        </div>




                        <!-- TABLEAU DES CHEQUES-->
                        

                        <ng-template #rowDetailsTemplate let-cheque>
                            <div class="shadow-lg overflow-hidden">
                                <div class="flex border-b">
                                    <!-- Selected cheque form -->
                                    <form class="flex flex-col w-full" [formGroup]="selectedChequeForm">

                                        <div class="flex flex-col sm:flex-row p-8">

                                        </div>
                                        <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                            <button class="-ml-4" mat-button [color]="'warn'"
                                                (click)="deleteSelectedCheque()">
                                                Supprimer
                                            </button>
                                            <div class="flex items-center">
                                                <div class="flex items-center mr-4" *ngIf="flashMessage">
                                                    <ng-container *ngIf="flashMessage === 'success'">
                                                        <mat-icon class="text-green-500"
                                                            [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                        <span class="ml-2">cheque updated</span>
                                                    </ng-container>
                                                    <ng-container *ngIf="flashMessage === 'error'">
                                                        <mat-icon class="text-red-500"
                                                            [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                        <span class="ml-2">An error occurred, try again!</span>
                                                    </ng-container>
                                                </div>
                                                <button mat-flat-button [color]="'primary'"
                                                    (click)="updateSelectedCheque()">
                                                    Modifier
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </ng-template>

                        <app-table-data [endpoint]="'remise/entreprise'" [title]="'Liste des Remises'"
                        [displayedColumns]="displayedColumns" [dataStructure]="dataStructure" [idRow]="'reference'"
                        [canClick]="compteClientForm.get('statut').value !== '3'" >
                    </app-table-data>

                    </div>

                </div>
            </form>
        </mat-drawer-content>

    </mat-drawer-container>
</div>