<div class="py-2 px-8">
    <ol>
        <ng-container *ngFor="let historique of historiques; let last = last; trackBy: trackByFn">
            <!-- <li class="relative group py-6" [class.current-step]="step.order === currentStep"> -->
                <li class="relative group py-6">
                <ng-container *ngIf="!last">
                    <div
                        class="absolute top-6 left-4 w-0.5 h-full -ml-px"
                        [ngClass]="{'bg-primary': historique.traite==undefined,
                                    'bg-gray-300 dark:bg-gray-600': historique.traite==false}"></div> 
                </ng-container>
                <div
                    class="relative flex items-start cursor-pointer">
                    <div
                        class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset bg-card dark:bg-default"
                        [ngClass]="{
                                    'bg-primary dark:bg-primary text-on-primary  ring-transparent': historique.traite==undefined,
                                    'ring-primary': historiques.length == historique.niveau, 
                                    'ring-gray-300 dark:ring-gray-600 group-hover:ring-gray-400': historique.traite==false
                                }">


                <!-- <div
                class="absolute top-6 left-4 w-0.5 h-full -ml-px"
                [ngClass]="{'bg-primary': step.order < currentStep,
                  'bg-gray-300 dark:bg-gray-600': step.order >= currentStep}"></div> -->
                        <!-- Check icon, show if the step is completed -->

                        <!-- <ng-container *ngIf="historiques.length < totalSteps">
                            <mat-icon
                                class="icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        </ng-container> -->
                        <!-- Step order, show if the step is the current step -->
                         <ng-container *ngIf="historique.traite==false">
                            <div class="text-md font-semibold text-primary dark:text-primary-500">{{historique.niveau}}</div>
                        </ng-container> 
                        <ng-container *ngIf="historique.traite==undefined">
                            <mat-icon
                                class="icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        </ng-container>
                        <!-- Step order, show if the step is not completed -->
                         <ng-container *ngIf="historiques.length == historique.niveau">
                            <div class="text-md font-semibold text-hint group-hover:text-secondary">{{historiques.niveau}}</div>
                        </ng-container> 
                    </div>
                    <div class="ml-4" *ngIf=" historique.traite==undefined ">
                        <div class="font-medium leading-4">{{historique.modificationUser}}</div>
                        <div class="mt-1.5 text-md leading-4 text-secondary">{{historique.dateModification}}</div>
                        <div class="mt-1.5 text-md leading-4 text-secondary">{{historique.commentaire}}</div>
                    </div>

                    <div class="ml-4" *ngIf=" historique.traite==false ">
                  
                        <ng-container *ngFor="let valideur of historique.listeValideurs "> 
                            <div class="font-medium leading-4">{{ valideur }}</div>
                        </ng-container>
                        
                      
                    </div>
                </div>
            </li>
        </ng-container>
    </ol>
</div>
