<div class="flex flex-col max-w-110 md:min-w-100 max-h-screen -m-5">
    <!-- Compose form -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" >
        <!-- Alert -->
        <fuse-alert
            class="mt-4"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>
        <!-- Content-->
        <div class="flex flex-auto overflow-hidden mt-3">
            <div class="flex flex-col flex-auto sm:mb-3 overflow-hidden sm:overflow-y-auto">
                <!-- Message -->
                <ng-container>
                    <div class="text-secondary sm:text-lg xs:text-sm">
                        <ng-container *ngIf="isLoading == true; else elseTemplate">
                            <span>Suppression en cours d'exécution...</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div class="flex items-center">
                                <mat-icon color="warn" class="text-red-500" svgIcon="heroicons_outline:exclamation"></mat-icon>
                                <span class="ml-2">Saisissez <strong>oui</strong> pour confirmer la suppression</span>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
                <!-- input Confirmation -->
                <ng-container>
                    <div class="flex mt-3">
                        <mat-form-field class="flex-auto">
                            <textarea 
                                matInput
                                placeholder="oui" #inputConfirmation></textarea>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-3 sm:mt-4">
            <div class="-ml-2"></div>
            <div class="flex items-center mt-3 sm:mt-0">
                <!-- Save as draft -->
                <button
                    class="sm:mx-3"
                    mat-stroked-button
                    (click)="closeModal()">
                    <span>Annuler</span>
                </button>
                <!-- Accept -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'warn'"
                    (click)="supprimer()"
                    [disabled]="inputConfirmation.value != 'oui' || isLoading">
                    <span *ngIf="!isLoading">Confirmer</span>
                    <mat-spinner strokeWidth="5" 
                        diameter="30" 
                        class="warn"
                        *ngIf="isLoading">
                    </mat-spinner>
                </button>
            </div>
        </div>
    </div>
</div>
