<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
    [dismissible]="true"
    [dismissed]="false"
    [showIcon]="true"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}

   
    </fuse-alert>

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <mat-drawer-content class="flex flex-col">


            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                
                <div class="flex flex-auto items-center min-w-0">
                    
        
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Importation remise </div>
                        </ng-container>
              
                    </div>
                </div>
                <div class="flex items-center">
                    <form class="flex flex-auto items-center" [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">

                        <mat-form-field class="max-w-xs fuse-mat-dense fuse-mat-rounded min-w-64 mt-4">
                            <!-- <mat-label>Entreprise</mat-label> -->
                            <mat-select formControlName="identreprise" matInput id="identreprise" required
                                placeholder="Selectionner une Entreprise" (selectionChange)="onSelectChange($event)">
                                <mat-option value="0">Toutes les entreprises</mat-option>
                                <mat-option *ngFor="let  Entreprise of listeEntreprise" [value]="Entreprise.identreprise"> 
                                    {{Entreprise.nomEntreprise }} 
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                        <button class="ml-4" mat-flat-button color="primary" type="submit"  [disabled]="dataSource.data.length === 0 || !entrepriseForm.valid  || entrepriseForm.value.identreprise=='0'">
                            <mat-icon svgIcon="mat_solid:arrow_upward"></mat-icon>
                            <span class="ml-2">Importer</span>
                        </button>
                    </form>
                </div>
            </div>
            <form class="flex flex-col ">

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- remiseCheques list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <div class="flex  items-center relative back   md:px-8 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" >                
                            <ng-container>
                                <div *ngIf="listeSuperExportateur && listeSuperExportateur?.length > 0">
                                    <table class="w-full">
                                      <thead>
                                        <tr class="bg-gray-200 dark:bg-gray-800">
                                            <th></th>
                                            <th>TOP 3 EXPORTATION A TRAITER</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr class="bg-gray-200 dark:bg-gray-800">
                                          <th class="py-2 px-4 text-left">Nom Entreprise</th>
                                          <th class="py-2 px-4 text-left">Nombre de chèque total</th>
                                          <th class="py-2 px-4 text-left">Montant Total</th>
                                          <th class="py-2 px-4 text-left">Date exportation</th>

                                        </tr>
                                      </thead>
                                      <tbody class="space-y-2">
                                        <tr *ngFor="let superExportateur of listeSuperExportateur" class="border-b">
                                          <td class="py-2 px-4">{{ superExportateur.nomEntreprise }}</td>
                                          <td class="py-2 px-4">{{ superExportateur.nbrChequeTotal }}</td>
                                          <td class="py-2 px-4">{{ superExportateur.montantTotal | currency:'CFA':'symbol':'1.0-2' }}</td>
                                          <td class="py-2 px-4">{{ superExportateur.dateExportation | date }}</td>

                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  
                                   
                            </ng-container>
                        </div>
                        
                    <app-table-data [endpoint]="'exportation/admin'" [title]="'Liste des exportations'"
                    [displayedColumns]="displayedColumns" [dataStructure]="dataStructure" [idRow]="'id'"
                    [canClick]="false">
                    </app-table-data> 

                    </div>

                </div>
            </form>
        </mat-drawer-content>

    </mat-drawer-container>
</div>