 <div class="p-4 bg-gray-200 bg-white rounded shadow-md"><!-- p-8  rounded shadow-md -->
    <div class="flex flex-auto items-center min-w-0">
        <div class="flex flex-col min-w-0 ml-4">
            <ng-container>
                <div class="text-3xl md:text-5xl font-semibold tracking-tight leading-8 md:leading-snug truncate">
                    Mon Profil
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex flex-auto items-center min-w-0 ml-4">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <!-- Informations Personnelles -->
            <div>
                <h3 class="text-2xl font-semibold mb-8 text-primary">Informations Personnelles</h3>
                <div class="flex flex-col ">
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Nom Complet :</span> {{ user?.nom }} {{ user?.prenom }}
                    </div>
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Fonction :</span> {{ user?.fonction }}
                    </div>
                    <div *ngIf="user?.idEntreprise && user?.nomEntreprise" class="text-lg mb-4">
                        <span class="font-semibold text-primary">Entreprise :</span> {{ user?.nomEntreprise }}
                    </div>

                    <div *ngIf="!user?.idEntreprise" class="text-lg mb-4">
                        <span class="font-semibold text-primary">Profile d'administration :</span> OUI
                    </div>

                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Nom d'utilisateur :</span> {{ user?.nom }}
                    </div>
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Email :</span> {{ user?.email }}
                    </div>
                </div>
            </div>

            <!-- Informations sur les Rôles -->
            <div>
                <h3 class="text-2xl font-semibold mb-8 text-primary">Rôles</h3>
                <ul class="list-disc pl-4">
                    <li class="text-lg" *ngFor="let role of user?.roles">
                        {{ role }}
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
