 <div class="p-8  bg-white w-full "><!-- p-8  rounded shadow-md -->
    <div class="flex flex-auto items-center min-w-0">
        <div class="flex flex-col min-w-0 ml-4">
            <ng-container>
                <div class="text-3xl md:text-5xl font-semibold tracking-tight leading-8 md:leading-snug truncate">
                    Mon Profil
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex flex-auto items-center min-w-0 ml-4">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <!-- Informations Personnelles -->
            <div>
                <h3 class="flex items-center text-2xl font-semibold mb-8 text-primary">
                    <mat-icon svgIcon="heroicons_outline:identification" class="mr-2 text-4xl"></mat-icon>
                    <span>Informations Personnelles</span>
                </h3>
                <div class="flex flex-col ">
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Prénom :</span>  {{ user?.prenom }}
                    </div>
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Nom :</span> {{ user?.prenom }}
                    </div>
                    <div *ngIf="user?.idEntreprise && user?.nomEntreprise" class="text-lg mb-4">
                        <span class="font-semibold text-primary">Entreprise :</span> {{ user?.nomEntreprise }}
                    </div>
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Fonction :</span> {{ user?.fonction }}
                    </div>
                    <div *ngIf="!user?.idEntreprise" class="text-lg mb-4">
                        <span class="font-semibold text-primary">Profile d'administration :</span> OUI
                    </div>
                    <div class="text-lg mb-4">
                        <span class="font-semibold text-primary">Email :</span> {{ user?.email }}
                    </div>
                </div>
            </div>

            <!-- Informations sur les Rôles -->
            <div>
                <h3 class="flex items-center text-2xl font-semibold mb-8 text-primary">
                    <mat-icon svgIcon="heroicons_outline:shield-check" style="font-size: 1.5rem;" class="mr-2"></mat-icon>
                    <span>Rôles</span>
                </h3>
                <ul class="list-disc pl-4">
                    <li class="text-lg tex-bold" *ngFor="let role of user?.roles">
                        {{ _roleMap[role] }}
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
